{% extends 'layout.html' %}
{% block body %}
<section class="section">   
    <h1>About</h1>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptatibus, praesentium unde non ipsam iure neque exercitationem, sit consequuntur mollitia eveniet error nostrum cumque quia! Non dolorum impedit placeat excepturi?
    </div>
    <div>
        <p>Adblock Plus filters explained.ref <a href="https://adblockplus.org/en/filter-cheatsheet">here</a></p>
    </div>
</section>
{% endblock %}