{% extends 'layout.html' %}

{% block body %}
<section class="section">
    <h1>What is a PAC?</h1>
    <p>
        Political Action Committee (PAC) — A popular term for a political committee organized for 
        the purpose of raising and spending money to elect and defeat candidates. Most PACs represent 
        business, labor or ideological interests. PACs can give $5,000 to a candidate committee per 
        election (primary, general or special). They can also give up to $15,000 annually to any national 
        party committee, and $5,000 annually to any other PAC. PACs may receive up to $5,000 from any one 
        individual, PAC or party committee per calendar year. A PAC must register with the FEC within 10 days 
        of its formation, providing name and address for the PAC, its treasurer and any connected organizations.
        Affiliated PACs are treated as one donor for the purpose of contribution limits. pac?p=1801
    </p>
    <p>
        PACs have been around since 1944, when the Congress of Industrial Organizations (CIO) formed the first one 
        to raise money for the re-election of President Franklin D. Roosevelt. The PAC's money came from voluntary 
        contributions from union members rather than union treasuries, so it did not violate the Smith Connally Act
         of 1943, which forbade unions from contributing to federal candidates. Although commonly called PACs, federal 
         election law refers to these accounts as "separate segregated funds" because money contributed to a PAC is kept
          in a bank account separate from the general corporate or union treasury.
    </p>
</section>
{% endblock %}